/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}

/* Main container */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
/*------------common-style----------*/
.btn,
.btn-icon,
.btn-text {
  display: inline-block;
}
.btn {
  border: none;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10000px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0px 40px rgba(0, 255, 136, 0.3);
}

.primary-btn {
  background: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
}
.wave {
  background: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/*----------------------------Header Section---------------------*/
/*-----------nav-bar-------*/
#nav-section {
  border-bottom: 1px solid #412567;
  padding: 1.125rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1rem;
}
.nav-menu-items,
.navbar-btn {
  display: none;
}

/*-----------hero-section-------*/
.hero-section {
  padding: 2.5rem 0;
  width: 100vw;
  background-image: url("assets/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 25%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.podcast-img-container {
  width: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle,
.mic,
.badge {
  position: absolute;
  display: inline-block;
}
.circle {
  width: 100%;
}
.mic {
  width: 30%;
  animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.badge {
  top: 2%;
  left: 65%;
  border: none;
  background-color: #00ff88;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600;
  color: #1a0b2e;
}
.hero-heading {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.section-description {
  font-size: 1rem;
  color: #ffffffcc;
}
.call-to-action-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.message-btn {
  border: 1px solid #00ff88;
  color: #00ff88;
  background-color: transparent;
}

/*--------------- Main-section--------------- */
/* about-section */
#about-section {
  width: 100vw;
  text-align: center;
}
.about-text-content {
  margin-bottom: 2.5rem;
}
.last-line {
  display: inline-block;
  margin-top: 0.5rem;
}
.content-divider {
  border: 1px solid #ffffff1a;
  margin-bottom: 2.5rem;
}
.about-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.card-heading {
  color: #00ff88;
  font-size: 2.5rem;
  font-weight: 700;
}
.card-description {
  font-size: 1rem;
  color: #ffffffcc;
}

/*-----------Responsive Design-----------*/
@media screen and (min-width: 576px) {
  html {
    font-size: 20px;
  }

  /*----------navbar----------*/
  .hamburger-icon {
    display: none;
  }
  .navbar-btn {
    display: inline-block;
  }
  .nav-menu-items {
    display: flex;
    list-style: none;
    color: #ffffffe6;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }

  /* Hero-section */
  .hero-section {
    padding: 4.2rem 0;
  }
  .hero-content {
    width: 45%;
  }

  /* about-section */
  .about-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
